/* 1.Style */
body,h1,h2,ul,li{margin: 0;padding: 0;font-family: Arial;}
::placeholder{text-align: center;}
::selection{background-color:#F63232;color: #fff;}
header{
    background-color: #F63232;
    text-align: center;
    padding: 20px;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
}
header h1{
    color: #fff;
    border: 8px solid #fff;
    border-radius: 36px;
    padding: 8px 14px;
    display: inline-block;
}
.banner{position: relative;}
.banner img{
    max-width: 100%;
}
.banner .welcome{
    background-color: #FEB614;
    color: #fff;
    padding: 30px;
    position:absolute;
    left: 0;
    top: 30%;
}
.banner h2{
    font-size: 74px;
}
.banner h2 span{
    font-size: 1.3em;
}
nav{background-color: #f4f4f4;padding: 20px;position: sticky;top: 106px;}
nav ul{white-space: nowrap;max-width: 1200px;margin: 0 auto;}
nav li{width:25%;display: inline-block;font-size:24px;}
nav ul li a {text-decoration: none;color: #4b4b4b;}
.join{color:#F63232}
main{
    max-width: 100%;
    width: 1200px;
    margin: 80px auto;
    padding: 0 40px;
    box-sizing: border-box;
}
article h2{
    color: #F63232;
    font-size: 48px;
}
article p{
    line-height: 2em;
    color: #4b4b4b;
}
main ul{text-align: center;margin: 80px 0;white-space: nowrap;}
main ul li{ display: inline-block;width: 40%;margin: 20px 5%;}
main ul li img{max-width: 100%;}
section.join{
    background-color: #f4f4f4;
    text-align: center;
    color: #4b4b4b;
    padding: 60px 20px;
}
section.join h2{font-size: 36px;;}
form input{
    margin: 20px 0;
    padding: 10px 20px;
    font-size: 24px;
    border-radius: 28px;
    border:2px dashed #F63232;
}
footer{
    background-color: #F63232;
    color: #fff;
    text-align: center;
    padding: 10px;
}
/* 2.Effect's */
nav li a:hover{text-decoration: underline;}
main ul li:hover{position: relative;top: -6px;}
form input:focus{border: 2px solid #F63232;outline: none;}
form input:valid{border: 2px solid #71d300;}
@media screen and (max-width: 800px){
    .banner .welcome h2{font-size:40px;}
    .banner .welcome{left: 5%;}
    nav li{font-size:12px;font-weight: bold;}
    main ul li{width: 100%;margin: 20px auto;display: block;}
    }
@media screen and (max-width: 550px){
nav li{display: block;font-size:17px;width: 100%;line-height: 30px;text-align: center;}
.main-nav{padding: 5px 0;}
.banner .welcome{position:relative;left: 0;padding: 12.5px;}
.banner .welcome h2{font-size: 24px;text-align: center;}
.banner .welcome br{display: none;}
.banner .welcome span{font-size: 1em;}
header{padding: 0px;padding-top: 5px;padding-bottom: 5px}
header h1{font-size: 25px;}
form input{padding: 10px 10px;font-size: 20px;}
footer p{font-weight: bolder;}
nav{top: 71px;}
}
